*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #222;
    color: #ddd;
    padding: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@media (min-width: 768px){
    .container{
        height: calc(100% - 500px);
    }
}
h2{
    margin-top: 1rem;
}



#mathProblem,#levels{
    font-size: 28px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}



#mathProblem > div:not(#equal),.level{
    min-width: 50px;
    height: 50px;
    padding-inline: 0.5rem;
    border: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
}
#levels{
    
    /* font-size: 18px; */
    width: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0.5rem;
    margin: 1rem auto;
}
.level{
    border-color: #555;
    border-width: 1px;
    color: #555;
    /* width: 30px;
    height: 30px; */
    cursor: pointer;
    animation: anim 1s  infinite linear;
}
@keyframes anim {
    0%{
        border-color:#555;
    }
    50%{
        border-color:white;
    }
    0%{
        border-color:#555;
    }
}
.level:hover,.apply{
    background-color: white;
}
#resultTable{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}
#resultTable p{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
    font-weight: 600;
}
#resultTable p span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #555;
    color: white;
}
#true{
    color: rgb(0, 128, 79);
}
#false{
    color: rgb(255, 30, 0);
}
#playerInput{
    width: 75px;
    height: 50px;
    font-size: 32px;
    padding: 1rem;
    border: 2px solid lightskyblue;
    background-color: #555;
    outline-color: #333;
    color: white;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#submitButton{
   display: none;
}